<!DOCTYPE html>
<html>
<head>
    <title>Action Result</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
	<div>
		<h1>Action INFO</h1>
		<p1>You tried to: "{{ result.operation }}"</p1><br>
		<p1>{{ result.msg }}</p1><br>

		{% if not result.next_url == '/admin/' %}
		<form action='{{ result.next_url }}' method='POST'>
			<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
			<input type='submit' value='OK'>
		</form>
		{% else %}
		<form action='{{ result.next_url }}' method='get'>
			<input type='submit' value='OK'>
		</form>
		{% endif %}
	</div>

</body>



