<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>



	<table>
		<tr>
			<th>Username</th>
			<th>Role</th>
			<th>Email</th>
			<th colspan='2'>Actions</th>
		</tr>
		{% for admin in admins %}
		<tr>
			<form id='token'>
				<td>{{ admin.username }}</td>
				<td>{{ admin.role }}</td>
				<td>{{ admin.email }}</td>
				<td><button type='submit' form='token' formaction='/admin/all/{{ admin.username }}' formmethod='post'>Update</button></td>
				<td><button type='submit' form='token' formaction='/admin/all/{{ admin.username }}/delete' formmethod='post'>Delete</button></td>

				<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
				<input type='hidden' name='role' value='{{ admin.role }}'>
			</form>
		</tr>
		{% endfor %}
	</table>
</body>
