<!DOCTYPE html>
<html>
<head>
    <title>Client Reports</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<form id='token' >
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>

		<label>Select Client:</label><br>
		<input list='users' name='contract_id'>
			<datalist id='users'>
				{% for user in users %}
				<option value='{{ user.contract_id }}'>{{ user.contract_id }} {{ user.full_name }}</option>
				{% endfor %}
			</datalist>
		<br>
		<br>
	</form>
	<button type='submit' form='token' formaction='/admin/reports/client/readings' formmethod='post'>Go</button>
</body>
