<!DOCTYPE html>
<html>
<head>
    <title>Client Reports</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
	<form id='token'>
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
	</form>


	<table>
		<tr>
			<th>Договор</th>
			<th>Име</th>
			<th>email</th>
			<th>Справка</th>
			<th>Дата<br>[гггг-мм-дд]</th>
		</tr>
		{% for reading in readings %}
		<tr>
			<td>{{ reading.contract_id }}</td>
			<td>{{ reading.client_info.full_name }}</td>
			<td>{{ reading.client_info.email }}</td>
			<td>{{ reading.client_info.wants_report }}</td>
			<td>{{ reading.date }}</td>
			<td><button type='submit' form='token' formaction='/{{ reading.url_suffix }}' formmethod='post'>See</button></td>
		</tr>
		{% endfor %}
	</table>
</body>

