<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
	<div>

		<form action='/admin/create/user' method='POST'>
			<label>New Username:</label><br>
			<input type='text' name='username'><br>

			<label>User Role:</label>
			<select name='role'>
				{% for role in roles %}
				<option value='{{ role }}'>{{ role }}</option>
				{% endfor %}
			</select><br>

			<label>Email:</label><br>
			<input type='text' name='email'><br>

			<label>New Password:</label><br>
			<input type='password' name='password'><br>

			<label>New Password Again:</label><br>
			<input type='password' name='password_again'><br>

			<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
			<input type='submit' value='Create'>
		</form>
	</div>

</body>


