<!DOCTYPE html>
<html>
<head>
    <title>Dash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.btn-group .button {
							background-color: #4CAF50; /* Green */
							border: 1px solid green;
/* 							border-bottom: none; */
							color: white;
							padding: none;
							text-align: left;
							text-decoration: none;
							font-size: 15px;
							cursor: pointer;
							width: 190px;
							height: 25px;
							display: block;
		}

		.btn-group .button:not(:last-child) {
											 border-bottom: none; /* Prevent double borders */
		}

		.btn-group .button:hover {
		background-color: #3e8e41;
		}

		.btn-group .header {
							background-color: pink;
							border: 1px solid black;
							color: black;
							text-align: center;
							width: 188px;
							height: 25px;
							padding: none;
							margin-bottom: 0px;
							}
	</style>
</head>

<body>
	<form id='token'>
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
	</form>

	<h1>Hello, {{ user.username }}!</h1>

<!--	<form>
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
	</form>-->
	<div class='btn-group'>
		<h3 class='header'>Upload Data</h3>
		<button class='button' type='submit' formaction='/admin/fileupload' formmethod='post' form='token'>Upload File</button>
	</div>

	<div class='btn-group'>
		<h3 class='header'>Profile</h3>
		<button class='button' type='submit' formaction='/admin/all/{{ user.username }}' formmethod='post' form='token'>Manage Profile</button>
	</div>

	<div class='btn-group'>
		<h3 class='header'>Manage Profiles</h3>
		<button class='button' type='submit' formaction='/admin/all' formmethod='post' form='token'>List Admins</button>
		<button class='button' type='submit' formaction='/admin/create' formmethod='post' form='token'>Create Admin</button>
	</div>

	<div class='btn-group'>
		<h3 class='header'>Reports</h3>
		<button class='button' type='submit' formaction='/admin/reports/client' formmethod='post' form='token'>Create Client Report</button>
		<button class='button' type='submit'>Create Admin Report</button>
	</div>
	<!--<form>
		<label>User:</label><br>
		<input type='text' name='username'><br>
		<br>
		<label>Current Password:</label><br>
		<input type='password' name='password'><br>
		<br>
		<label>New Password:</label><br>
		<input type='password' name='new_password'><br>
		<br>
		<label>New Password Again:</label><br>
		<input type='password' name='new_password_again'><br>
		<br>
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
		<input type='submit' value='Update'>
		<br>
	</form>-->

</body>

