<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
	{% if errors %}
	{{ errors }}
	{% else %}
	<h1>Hello!</h1>
	{% endif %}
	<form action='/admin/login' method='POST'>
		<label>User:</label><br>
		<!--<input list='a'>
		<datalist id='a'>
			<option selected>--select--</option>
			<option>'A'</option>
			<option>"zzzzzzzzzzzz B"</option>
		</datalist><br>-->
		<input type='text' name='username'><br>
		<label>Password:</label><br>
		<input type='password' name='password'><br>
		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
		<input type='submit' value='Log In'>
	</form>
</body>
