<!DOCTYPE html>
<html>
<head>
    <title>Report Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
    <h1>Client Info:</h1>
    <p1>Client Name: {{ data.client_info.full_name }}</p>
    <p1>Contract Number: {{ data.client_info.contract_id }}</p>
    <p1>Client email: {{ data.client_info.email }} </p>
	<p1>Данните се отнасят за: {{ data.date.month - 1 }}.{{ data.date.year }} г.</p>
	<h1>Electricity</h1>
	<p1>Date: {{ data.date }}</p>
	<p1></p>

	<table title="Electricity">
		<tr>
			<th>Electrometer</th>

			<th>Old reading</th>
			<th>New reading</th>
			<th>Difference</th>

			<th>Transform.<br>Coef.</th>
			<th>Particip.<br>Coef.</th>

			<th>Consumed<br>[квтч)]</th>
			<th>Single price<br>[лв/квтч]</th>
			<th>End price<br>[лв без ДДС]</th>
		</tr>

		{% for d in data.electricity_info %}
		<tr>
			<td> {{ d.meter_name }} </td>

			<td> {{ d.reading_old }} </td>
			<td> {{ d.reading_new }} </td>
			<td> {{ d.reading_diff|round(2) }} </td>

			<td> {{ d.transformation_coef }} </td>
			<td> {{ d.participation_coef}} </td>

			<td> {{ d.consumption|round(2) }} </td>
			<td> {{ d.price_single }} </td>
			<td> {{ d.price_end|round(2) }}</td>
		</tr>
		{% endfor %}

		<tr style='background-color: white'>
			{% for i in range(5) %}
			<td style='border:none'></td>
			{% endfor %}
			<th style='background-color:cyan'>Total consumed:</th>
			<td style='background-color:cyan'> {{ data.total_el|round(2) }} </td>
			<th style='background-color:cyan'>Total to pay:</td>
			<td style='background-color:cyan'> {{ data.total_el_price|round(2) }} </td>
		</tr>
	</table>

	{% if data.warmup_info %}

			<h1>Warmup Commons</h1>
			<p1>Date: {{ data.date }}</p>
			<p1></p>

			<table title="Warmup Commons">
				<tr>
					<th>Building</th>

					<th>Total Tnergy</th>
					<th>Total Reduced Volume</th>
					<th>Energy per Volume</th>

					<th>Total Heating Power</th>
					<th>Energy per Heating Power</th>

					<th>Single price<br>[лв/Мвтч]</th>
					<th>End price<br>[лв без ДДС]</th>

					<th>Maintenance<br>[%]</th>
				</tr>

				{% for d in data.common_warmup_info %}
				<tr>
					<td> {{ d.building }} </td>

					<td> {{ d.total_energy }} </td>
					<td> {{ d.total_reduced_volume }} </td>
					<td> {{ d.energy_reduced_volume }} </td>

					<td> {{ d.total_power }} </td>
					<td> {{ d.energy_per_power}} </td>

					<td> {{ d.single_price }} </td>
					<td> {{ d.total_price }} </td>

					<td> {{ d.maintenance_percent * 100 }} %</td>
				</tr>
				{% endfor %}
			</table>

		<p1></p>

		<h1>Warmup</h1>
		<p1>Date: {{ data.date }}</p>
		<p1></p>

		<table title="Warmup Individuals">
			<tr>
				<th>Room</th>
				<th>Building</th>

				<th>Volume</th>
				<th>Coef.</th>
				<th>Reduced<br>Volume</th>
				<th>Power</th>
				<th>Energy</th>
				<th>Energy<br>+<br>Maintenance</th>

				<th>End price<br>[лв без ДДС]</th>
			</tr>

			{% if data.total_warmup %}
				{% for d in data.warmup_info %}
					<tr>
						<td> {{ d.unit }} </td>
						<td> {{ d.building }} </td>
						<td> {{ d.volume }} </td>
						<td> {{ d.coef }} </td>
						<td> {{ d.reduced_volume }} </td>
						<td> {{ d.power }} </td>
						<td> {{ d.energy }} </td>
						<td> {{ d.energy_plus_maintenance }} </td>
						<td> {{ d.price_end }} </td>
					</tr>
				{% endfor %}
			{% endif %}

			<tr style='background-color: white'>
				{% for i in range(6) %}
				<td style='border:none'></td>
				{% endfor %}
				<th style='background-color:cyan'>Total:</th>
				<td style='background-color:cyan'> {{ data.total_warmup|round(2) }} </td>
				<td style='background-color:cyan'> {{ data.total_warmup_price|round(2) }} </td>
			</tr>
		</table>
	{% endif %}
</body>
</html>
