<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
				}

		td, th {
				border: 1px solid;
				text-align: center;
				padding: 8px;
				}

		tr:nth-child(even) {
							background-color: #dddddd;
							}
	</style>
</head>

<body>
	<label>Details for user: {{ details_for_user }}</label>
	<br>
	<br>
	<div>
		<form action='/admin/all/{{ details_for_user }}/update' method='POST'>

			<label>New Password:</label>
			<br>
			<input type='password' name='new_password'>
			<br>

			<label>New Password Again:</label>
			<br>
			<input type='password' name='new_password_again'>
			<br>

			<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
			<input type='submit' value='Change Password'>
		</form>
	</div>
	<br>
	<br>
	<div>
		<form action='/admin/all/{{ details_for_user }}/update' method='POST'>
			<label>Role:</label>
			<select name='role'>
				<option value='{{ user_role }}' selected>{{ user_role }}</option>
				{% for role in roles %}
					<option value='{{ role }}'>{{ role }}</option>
				{% endfor %}
			</select><br>

			<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
			<input type='submit' value='Update Role'>
		</form>

		<form action='/admin/all/{{ details_for_user }}/update' method='POST'>
			<label>Email:</label><br>
			<input type='text' name='email'><br>

			<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
			<input type='submit' value='Update Email'>
		</form>
	</div>

</body>

