<!DOCTYPE html>
<html>
<head>
    <title>Upload Data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<form id='token' action='/admin/data-upload' method='post' enctype='multipart/form-data'>

		<input type='hidden' name='csrf_token' value='{{ csrf_token }}'>

		<label>Select File:</label><br>
		<input type='file' name='upload'>
		<br>
		<br>
	</form>
	<button type='submit' form='token'>Submit</button>
</body>
